:host {
  display: block;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  background-color: #1f2029;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    display: flex;
    position: absolute;
    width: auto;
    height: 20px;
    transition: all 0.4s ease;

    .loader {
      display: block;
      align-items: flex-end;
      background-color: #ff6f24;
      width: 5px;
      height: 5px;
      position: absolute;
      animation: loader 1.2s ease infinite both;
      border-radius: 4px;
      bottom: 0;

      &:nth-child(1) {
        transform: translateX(-20px);
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.8s;
        transform: translateX(20px);
      }
    }
  }
}

@keyframes loader {
  0% {
    height: 5px;
    bottom: 0;
    opacity: 1;
  }

  25% {
    opacity: 0.3;
    bottom: 0;
    height: 15px;
  }

  50% {
    opacity: 1;
    height: 5px;
    bottom: calc(100% - 5px);
  }

  75% {
    opacity: 0.3;
    height: 15px;
    bottom: 0;
  }

  100% {
    opacity: 1;
    height: 5px;
    bottom: 0;
  }
}
