<div id="new-analysis">
  <div class="box border shadow">
    <div class="step">
      <div>
        <span class="highlight">Step 1</span>: Please upload a csv file.
      </div>
    </div>
    <app-tkn-upload (markers)="getMarkers($event)" (csvBlob)="getCsvBlob($event)"></app-tkn-upload>
  </div>
  <div class="box border shadow" *ngIf="showMapSelection">
    <div class="step">
      <div>
        <span class="highlight">Step 2</span>: Please select the area by drawing
        a rectangle from the map toolbar.
      </div>
    </div>
    <app-tnk-maps [markers]="markers" (boundingBox)="getBoundingBox($event)"></app-tnk-maps>
  </div>
  <div class="box border shadow" *ngIf="boundingBox">
    <!-- <div class="box border shadow"> -->
    <div class="step">
      <div>
        <span class="highlight">Step 3</span>: Please fill the required details. Note that computation time increases
        exponentially with the grid size and max p-value.
      </div>
    </div>
    <!-- asd -->
    <div class="row">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="10">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="name">Task Name
              </nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please enter a valid task name!">
                <input nz-input formControlName="name" id="name" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="gridLength">Grid Length <button
                  class="custom-tooltip" nz-button nz-tooltip nzTooltipTitle="The selected area will be split into a
                  grid of almost squares. By providing the number of grid-boxes per row (Grid Length) the Grid
                  Height is automatically selected so that each grid-box is < as square as possible> ."
                  nzType="default" nzShape="circle" [nzSize]="'small'">?</button></nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please enter a valid grid length!">
                <nz-input-number formControlName="gridLength" [nzMin]="1" [nzMax]="50" [nzStep]="1" id="gridLength">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="dataPoints">Out of bounds points <button
                  class="custom-tooltip" nz-button nz-tooltip nzTooltipTitle="Currenly all data points lying outside the
                  selected area are discarded." nzType="default" nzShape="circle" [nzSize]="'small'">?</button>
              </nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please select what to do with the points!">
                <nz-select nzShowSearch formControlName="dataPoints" nzPlaceHolder="Excluded Points Action"
                  id="dataPoints">
                  <nz-option [nzLabel]="'include'" [nzValue]="'include'"></nz-option>
                  <nz-option [nzLabel]="'exclude'" [nzValue]="'exclude'"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="costType">Cost type <button
                  class="custom-tooltip" nz-button nz-tooltip nzTooltipTitle="Should the distance between A and B be measured in meters or
                  second (i.e. driving time)" nzType="default" nzShape="circle" [nzSize]="'small'">?</button>
              </nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please select distance or time">
                <nz-select nzShowSearch formControlName="costType" nzPlaceHolder="Action For Excluded Points"
                  id="costType">
                  <nz-option [nzLabel]="'time'" [nzValue]="'time'"></nz-option>
                  <nz-option [nzLabel]="'distance'" [nzValue]="'distance'"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="minVal">Min p-value</nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please enter a valid p-value!">
                <nz-input-number formControlName="minVal" [nzMin]="1" [nzMax]="maxPvaluesBounds" [nzStep]="1"
                  id="minVal">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="maxVal">Max p-value<button class="custom-tooltip"
                  nz-button nz-tooltip [nzTooltipTitle]="titleTemplate" nzType="default" nzShape="circle"
                  [nzSize]="'small'">?</button></nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please enter a valid p-value!">
                <nz-input-number formControlName="maxVal" [nzMin]="1" [nzMax]="maxPvaluesBounds" [nzStep]="1"
                  id="maxVal">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-template #titleTemplate><span>Maximum p-value can't be
      larger
      than
      (1<sub>/4</sub> ) * gridLength<sup>2</sup> or 25</span>
  </ng-template>

  <button nz-button nzType="primary" (click)="startNewTask()" *ngIf="markers.length > 0 && boundingBox && formIsValid">
    Start new task
  </button>
</div>
