<div id="line-graph">
  <div class="line">
    <ngx-charts-line-chart #chart [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [results]="multi" (select)="onSelect($event)" (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
  </div>
  <div class="graph-details" *ngIf="meta">
    <div><span class="highlight">Selected P:</span>{{meta.pValue}}</div>
    <div><span class="highlight">Avarage distance:</span>{{meta.avgDistance}}</div>
    <div><span class="highlight">Max distance:</span>{{meta.maxDistance}}</div>
    <div><span class="highlight">Avarage time:</span>{{meta.avgTime}}</div>
  </div>

</div>
