:host {
}
nz-footer {
  line-height: 1.5;
}
.ant-layout-header {
  background: none;
  padding: 0;
  height: 100%;
}
nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}
.ant-layout {
  background: none;
}

nz-layout {
  margin-bottom: 48px;
}
