<div class="header">
  <h2>List of Tasks</h2>
  <button nz-button nzType="primary" [nzSize]="'small'" nzShape="circle" (click)="getAllTasks()">
    <i nz-icon nzType="reload"></i>
  </button>
</div>
<nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.status }}</td>
      <td>
        <ng-container *ngIf="data.download">
          <a href="{{data.download}}">Download</a>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
